/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-3-22, 15:56:57
    Author     : qiuyuan
*/

body{
    text-align: center;
}

.header{
    background-color: black;
}
.container{
    margin-top: 150px;
    
}
.container2{
    background-color:white;
}

.img-rounded{
    width:635px;
    height:230px;
}

.img-small{
	width:127px;
	height:40px;
	float:left;
        margin-top:25px;
}

.form-control{
    height:40px;
    width:700px;
    margin: auto;   
}
.form-control2{
    margin-left: 20px;
    height:40px;
    width:500px;
    margin: auto;
float:left;   
}


.btn-primary {
    margin-left: 20px;
    margin-top:10px;
    height:35px;
    width:100px;
    font-size:15px;
    alignment-baseline: central;
}
.btn-second {
    margin-left: 20px;
    height:40px;
    width:100px;
    font-size:15px;
    alignment-baseline: center;
    float:left;
}

.form-group{
    margin-top:25px;
}
.form-group2{
    margin-top:25px;
    margin-left:20px;
    float:left;	
}

#userdata{
    margin:auto;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    
    
}