@CHARSET "ISO-8859-1";
#C1{
	
    width: 800px;
    margin: 5px;
    float: left;
}

#C2{
	
    width: 50px;
    margin: 5px;
    float: left;
}

html, body {
/*height: 100%;*/
}
#wrapper {
	/*min-height:100%;*/
	position:relative;
}
#header {
	padding:10px;
	background:#5ee;
}
#content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}
footer {
	width:100%;
	height:30px;
	position:absolute;
	bottom:10px;
	left:0;
	
}
th{
	text-align:center;
}
#userdata{
background-color:#5ee;
}

h1{
color:#9B9535;
}
